@import 'bootstrap/dist/css/bootstrap.css';
@import "@fontsource/dm-sans";
@import "tailwindcss";

body {
  font-family: "DM Sans";
}

.page-section {
  width: 90vw;
  margin: auto;
}

.my-social-icon {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.my-social-icon:hover {
  transform: scale(1.1);
}

.bc-purchase {
  text-decoration: none;
}

.bc-purchase:hover {
  text-decoration: none;
  font-weight: bolder;
}

.link-box:hover {
  gap: 5px;
}

.hf-box {
  background-color: #09635a;
  border-radius: 15px;
  margin-bottom: 1.5em;
}

.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 15px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>div {
  margin-bottom: 15px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .page-section {
    width: 65vw;
    margin: auto;
  }

  .hf-box {
    margin-bottom: 0;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

@media (max-width: 768px) {
  .media-md {
    display: none;
  }
}

@media (min-width: 769px) {
  .media-sm {
    display: none;
  }
}