.card {
  border-radius: 15px;
  width: 100%;
  border: 2px solid #44e3d3;
  margin-bottom: 1.5em;
}

.bc-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.bc-image-container {
  background-color: white;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.my-link {
  color: #22726a;
  text-decoration: none;
}

.my-link:hover {
  color: #14443f;
  text-decoration: none;
}

.link-text {
  vertical-align: middle;
  display: inline-block;
}

.link-arrow {
  vertical-align: middle;
  display: inline-block;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    margin-bottom: 0;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card {
    display: inline-block;
  }

  .bc-image {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }

  .bc-image-landscape {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .bc-text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .bc-desc {
    font-size: 1.2vw;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
