#cover-box {
  background-color: #009688;
  border-radius: 15px;
  width: 100%;
  min-height: 85vh;
}

.cover-head {
  font-size: 9vw;
}

.cover-body {
  font-size: 5vw;
}

.cta {
  font-size: 5vw;
  color: #44E3D3;
  text-decoration: none;
}

.cta:hover {
  color: #f8f9fa;
}

.headshot {
  border-radius: 8%;
  object-fit: contain;
  width: 350px;
}

.headshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cover-head {
    font-size: 7vw;
  }

  .cover-body {
    font-size: 4vw;
  }

  .cta {
    font-size: 4vw;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cover-head {
    font-size: 6vw;
  }

  .cover-body {
    font-size: 3vw;
  }

  .cta {
    font-size: 3vw;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cover-head {
    font-size: 5vw;
  }

  .cover-body {
    font-size: 2vw;
  }

  .cta {
    font-size: 2vw;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
