#cover-box {
    background-color: #044389;
    border-radius: 15px;
    width: 100%;
    min-height: 85vh;
    padding-bottom: 20px;
}

.cover-head {
    font-size: 9vw;
}

.cover-body {
    font-size: 5vw;
}

.headshot {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .cover-head {
        font-size: 7vw;
    }

    .cover-body {
        font-size: 4vw;
    }

    .headshot-container {
        width: 75%;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .cover-head {
        font-size: 6vw;
    }

    .cover-body {
        font-size: 3vw; 
    }

    .headshot-container {
        width: 30%;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    .cover-head {
        font-size: 5vw;
    }

    .cover-body {
        font-size: 2vw;
    }

    .headshot-container {
        width: 30%;
    }

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }